@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core !</a>.</p>
    <p><a href="./swagger">Swagger page</a></p> 
    <br/></br>
    <i>last modification date: 20210601</i>
</div>
